@font-face {
    src: url("./font/RubikMarkerHatch-Regular.ttf");
    font-family: "RubikMarkerHatch";
}

@font-face {
    src: url("./font/PermanentMarker-Regular.ttf");
    font-family: "PermanentMarker";
}

@font-face {
    src: url("./font/BlackHanSans-Regular.ttf");
    font-family: "BlackHanSans";
}

@font-face {
    src: url("./font/JalnanOTF.otf");
    font-family: "JalnanOTF";
}

#All {
    width: 500px;
    margin: 0 auto;
}
#TTT_app, #title {
    width: 500px;
    border : 1px solid #000;
}

#title {
    width: 500px;
    height: 700px;
    margin : 0 auto;
    border : 1px solid #000;
    text-align: center;
    border: 1px solid #000;
    
    font-family: Rubik Marker Hatch;
    /* font-family: "PermanentMarker"; */
    font-size: 20px;
    background-color: rgb(243, 223, 223);
    z-index: 2;
    position: absolute;
}

#title_IMG{
    position: relative;
    top: 60px;
}

#Over{
    width: 500px;
    height: 500px;
    font-size: 20px;
    text-align: center;
    background-color: rgba( 255, 255, 255, 0.5 );
    position: absolute;
    font-family: "JalnanOTF";

}

#startBtn{
    width: 60%;
    height: 10%;

    position: relative;
    top: 130px;

    font-size: 30px;
    font-family: "JalnanOTF";
    background-color: rgb(230, 129, 159);
    color:rgb(72, 37, 37);

    border: none;
    border-radius: 12px;
}

#reBtn{
    width: 200px;
    height: 50px;

    font-family: "JalnanOTF";
    font-size: 20px;
    color: white;

    background-color: rgb(49, 111, 172);
    border: none;
    border-radius: 12px;
}

#gameinfo {
    position: relative;
    top: 10px;
    padding: 1px;

    font-family: "JalnanOTF";
    font-size: 40px;
    font-weight: bold;
    text-align: center;

    background-color:  rgb(188, 206, 226);
    border-radius: 20px;
}

#game-map {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    box-sizing: border-box;
}

.game-tile {

    width:  33.33%;
    height: 33.33%;

    display:  flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;

    font-family: "PermanentMarker";
    /* font-family: Rubik Marker Hatch; */
    font-size: 75px;
    text-transform:  uppercase;

    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}

.game-tile.highlighted {color :  rgb(212, 92, 112);}
.game-tile:hover {background-color: #eee;}

.game-tile:nth-child(-n+6) {border-bottom: 15px solid rgb(49, 111, 172);}
.game-tile:nth-child(3n+1),
.game-tile:nth-child(3n+2) {border-right: 15px solid rgb(49, 111, 172);}
#reBtn:hover {background-color: rgb(83, 130, 176);}
#startBtn:hover {background-color: rgb(220, 87, 127); color:ghostwhite;}