#gameView{
    width: 500px;
    margin: 0 auto;
    border: 1px solid #000;
}

#gameView_Info{
    padding: 15px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background-color: #eee;
}

#gameView_Squares{
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
    box-sizing: border-box;
}

.gameView_Square{
    width: 33.33%;
    height: 33.33%;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing:  border-box;

    font-family: cursive;
    font-size: 75px;
    text-transform: uppercase;

    border-radius: 15px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}

.gameView_Square.highlighted { color: rgb(223, 126, 142); }

.gameView_Square:hover { background-color:  #eee; }

.gameView_Square:nth-child( -n+6 ){ border-bottom: 15px solid rgb(130, 130, 231); }

.gameView_Square:nth-child( 3n+1) { border-right: 15px solid rgb(130, 130, 231); }
.gameView_Square:nth-child( 3n+2) { border-right: 15px solid rgb(130, 130, 231); }